<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org"
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras springsecurity6">

	<!-- Thymeleaf fragment "headerFiles" definition -->
	<head th:fragment="headerFiles">
		<meta charset="ISO-8859-1">

		<title> Assignment 4 </title>
	</head>
	
	<body>
		<!-- Thymeleaf fragment "header" definition -->
		<div th:fragment="header">
		<h1>Product Catalog Management Application</h1>
		</div>
	
		<!-- Thymeleaf fragment "footer" definition -->
		<footer th:fragment="footer">
		<p> ---------------------------------------------------------- </p>
			<a href="/index"  th:href="@{/index}">Home</a>
		  <div th:replace="~{/fragments/logout.html :: logout}"> </div>
		  <p>Student Name: Vuong Quoc Nguyen </p>
		  <p>Student Number: 991698575</p>


		</footer>
	</body>
		
</html>