<!DOCTYPE html>
	<!-- Thymeleaf namespace should be added for template processing -->
	<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	    <meta charset="ISO-8859-1">
	    <title>Product Catalog Management Application</title>
	</head>
	<body>

		<p>
		The Java EE application is to get product input data as a Product object, add the
Product object to the database, update, retrieve Product objects from the databas based on criteria and
display as a table. Each row in the table displays one Product object
		.
		To begin the application click </p>
			<a href="/participantinfo">Add Participan Info</a> <br>

	</body>

</html>