<!DOCTYPE html>
	<!-- Thymeleaf namespace should be added for template processing -->
	<html lang="en" xmlns:th="http://www.thymeleaf.org">
		<head>
	    <meta charset="ISO-8859-1">
	    <title>Product Catalog Management Application</title>
	</head>
		<form action="/surveyInitialization" method="get">
			    First Name: <input type="text" name="firstName" /><br>
			    Last Name: <input type="text" name="lastName" /><br>

			    <input type="submit" value="Start a Survey" />
			<br>
			<a href = "/index" >Cancel</a>
		</form>
	</html>